# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_xmcd_maax_imxrt1176
config MCUX_USE_driver_xmcd_maax_imxrt1176
    bool "XMCD Driver"
    select MCUX_USE_driver_common
    help
      XMCD Driver
