#
#
#

config BOARD_IMXRT1176_SOM
	select SOC_PART_NUMBER_MIMXRT1176CVM8A
	select SOC_MIMXRT1176_CM7 if BOARD_IMXRT1176_SOM_MIMXRT1176_CM7
	select SOC_MIMXRT1176_CM4 if BOARD_IMXRT1176_SOM_MIMXRT1176_CM4
